body{
    margin: 0;
    padding: 0;
    background: linear-gradient(105.39deg, #D8D8D8, #131C38 );
    height: 100vh;
    overflow: hidden;
    position: relative;
    background-size: 500% 500%;
    animation: change 10s ease-in-out infinite;
}

@keyframes change {
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}


.logo{
    img{
        width: 260px;
    }
}
.login_text{
     margin-left: 100px;
    h1{
        font-family: poppins;
        font-size: 65px;
        color: white;
    }
    margin-top: 100px;
    font-family: poppins;
    color: white;
    font-size: 20px;
}

.login_cards{
    background-color: white;
    box-shadow:  10px 30px 25px rgba(0, 0, 0, 0.5);;  
    width: 68%;
    margin-left: 100px;
    height: 580px;
    display: flex;
    justify-content: center;
    align-items: center;
    input{
        border: none;
        border-bottom: 1px solid;
        width: 320px;
        padding-left: 10px;
        padding-bottom: 4px;
        margin-top: 30px;
        font-family: poppins;
    }
    form{
        position: relative;
    }
    .validparol{
        display: flex;
        justify-content: end;
        margin-top: 10px;
        a{
            color: red;
            font-family: poppins;
            font-size: 15px;
        }
    }
    .loginbtn{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 60px;
        button{
            background-color: #131C38; 
            color: white;
            padding: 14px 36px;
            border-radius: 8px;
            border: none;
            font-family: poppins;
            
        }
    }
    .signuplink{
        text-align:center;
        
        a{
            text-decoration: none;
            font-family: poppins;
            font-size: 14px;
            color: black;
            transition: .2s ease-in-out;
            &:hover{
                color: rgba(0, 0, 0, 0.522);
            }
        }
    }
}
.signup_cards{
    background-color: white;
    box-shadow:  10px 30px 25px rgba(0, 0, 0, 0.5);;  
    width: 68%;
    margin-left: 100px;
    height: 580px;
    display: flex;
    justify-content: center;
    align-items: center;
    input{
        border: none;
        border-bottom: 1px solid;
        max-width: 100%;
        padding-left: 10px;
        padding-bottom: 4px;
        margin-top: 30px;
        font-family: poppins;
    }
    form{
        position: relative;
    }
    .validparol{
        display: flex;
        justify-content: end;
        margin-top: 10px;
        a{
            color: red;
            font-family: poppins;
            font-size: 15px;
        }
    }
    .loginbtn{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 60px;
        button{
            background-color: #131C38; 
            color: white;
            padding: 14px 36px;
            border-radius: 8px;
            border: none;
            font-family: poppins;
            
        }
    }
    .signuplink{
        text-align:center;
        padding-top: 20px;
        a{
            text-decoration: none;
            font-family: poppins;
            font-size: 14px;
            color: black;
            transition: .2s ease-in-out;
            &:hover{
                color: rgba(0, 0, 0, 0.522);
            }
        }
    }
}
.ull{
    li{
        list-style: none;
        list-style-type: none;
        img{
            width: 100%;
        }
    }
}