body {
  margin: 0;
  padding: 0;
  background: linear-gradient(105.39deg, #D8D8D8, #131C38);
  height: 100vh;
  overflow: hidden;
  position: relative;
  background-size: 500% 500%;
  -webkit-animation: change 10s ease-in-out infinite;
          animation: change 10s ease-in-out infinite;
}

@-webkit-keyframes change {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

@keyframes change {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

.logo img {
  width: 260px;
}

.login_text {
  margin-left: 100px;
  margin-top: 100px;
  font-family: poppins;
  color: white;
  font-size: 20px;
}

.login_text h1 {
  font-family: poppins;
  font-size: 65px;
  color: white;
}

.login_cards {
  background-color: white;
  -webkit-box-shadow: 10px 30px 25px rgba(0, 0, 0, 0.5);
          box-shadow: 10px 30px 25px rgba(0, 0, 0, 0.5);
  width: 68%;
  margin-left: 100px;
  height: 580px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login_cards input {
  border: none;
  border-bottom: 1px solid;
  width: 320px;
  padding-left: 10px;
  padding-bottom: 4px;
  margin-top: 30px;
  font-family: poppins;
}

.login_cards form {
  position: relative;
}

.login_cards .validparol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  margin-top: 10px;
}

.login_cards .validparol a {
  color: red;
  font-family: poppins;
  font-size: 15px;
}

.login_cards .loginbtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 60px;
}

.login_cards .loginbtn button {
  background-color: #131C38;
  color: white;
  padding: 14px 36px;
  border-radius: 8px;
  border: none;
  font-family: poppins;
}

.login_cards .signuplink {
  text-align: center;
}

.login_cards .signuplink a {
  text-decoration: none;
  font-family: poppins;
  font-size: 14px;
  color: black;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.login_cards .signuplink a:hover {
  color: rgba(0, 0, 0, 0.522);
}

.signup_cards {
  background-color: white;
  -webkit-box-shadow: 10px 30px 25px rgba(0, 0, 0, 0.5);
          box-shadow: 10px 30px 25px rgba(0, 0, 0, 0.5);
  width: 68%;
  margin-left: 100px;
  height: 580px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.signup_cards input {
  border: none;
  border-bottom: 1px solid;
  max-width: 100%;
  padding-left: 10px;
  padding-bottom: 4px;
  margin-top: 30px;
  font-family: poppins;
}

.signup_cards form {
  position: relative;
}

.signup_cards .validparol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  margin-top: 10px;
}

.signup_cards .validparol a {
  color: red;
  font-family: poppins;
  font-size: 15px;
}

.signup_cards .loginbtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 60px;
}

.signup_cards .loginbtn button {
  background-color: #131C38;
  color: white;
  padding: 14px 36px;
  border-radius: 8px;
  border: none;
  font-family: poppins;
}

.signup_cards .signuplink {
  text-align: center;
  padding-top: 20px;
}

.signup_cards .signuplink a {
  text-decoration: none;
  font-family: poppins;
  font-size: 14px;
  color: black;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.signup_cards .signuplink a:hover {
  color: rgba(0, 0, 0, 0.522);
}

.ull li {
  list-style: none;
  list-style-type: none;
}

.ull li img {
  width: 100%;
}
/*# sourceMappingURL=login.css.map */